@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@layer base {
  body {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    @apply bg-[#f9fafb] text-[#212529] dark:bg-[#121212] dark:text-[#f1f3f5];
  }
}
